.canvas
  .inner-space-2
    h1
      |This is your challenge!
    .box-content
      .inner-space
        .challenge-image
          img(data-ng-src="{{challenge.info.image.url}}")
        h1.align-center.accent
          |{{challenge.info.name}}
        h1
          |People in this challenge: {{challenge.users.length}}
        .pure-g
          .user-card.pure-u-1.pure-u-sm-1-4(data-ng-repeat="user in challenge.users")
            .padding-left-1
              .user-image.align-center
                img(gravatar-src="'{{user.email}}'" gravatar-size="100")
              h3
                |{{user.email}}
        h1
          |Has Accepted {{challenge.hasAccepted.length}}
        .pure-g
          .user-card.pure-u-1.pure-u-sm-1-4(data-ng-repeat="user in challenge.hasAccepted")
            .padding-left-1
              .user-image.align-center
                img(gravatar-src="'{{user.email}}'" gravatar-size="100")
              h3
                |{{user.email}}
        h1
          |Has not Accepted  {{challenge.hasNotAccepted.length}}
        .pure-g
          .user-card.pure-u-1.pure-u-sm-1-4(data-ng-repeat="user in challenge.hasNotAccepted")
            .padding-left-1
              .user-image.align-center
                img(gravatar-src="'{{user.email}}'" gravatar-size="100")
              h3
                |{{user.email}}
        h1
          |Has Completed  {{challenge.hasCompleted.length}}
        .pure-g
          .user-card.pure-u-1.pure-u-sm-1-4(data-ng-repeat="user in challenge.hasCompleted")
            .padding-left-1
              .user-image.align-center
                img(gravatar-src="'{{user.email}}'" gravatar-size="100")
              h3
                |{{user.email}}
        h1
          |Messages {{challenge.messages.length}}

        .message-box(data-ng-repeat="message in challenge.messages")
          .message-left(data-ng-if="message.user.objectId == shell.user.objectId")
            .pure-g
              .pure-u-1.pure-u-sm-1-2
                .message-text.pure-u-1-3.message-text-left
                  |{{message.message}}
                  .message-image
                    video(data-ng-src="{{message.file.url}}",controls, data-ng-if="message.fileType=='video/quicktime'")
                    img(data-ng-src="{{message.file.url}}", data-ng-if="message.fileType !='video/quicktime'")
                  .message-avatar.margin-right-1.message-avatar-left
                    img(gravatar-src="'{{message.user.username}}'" gravatar-size="100")
            
          .message-right(data-ng-if="message.user.objectId != shell.user.objectId")
            .pure-g
              .pure-u-1.pure-u-sm-1-2 
              .pure-u-1.pure-u-sm-1-2
                .message-text.message-text-right
                  |{{message.message}}
                  .message-avatar.message-avatar-right
                    img(gravatar-src="'{{message.user.username}}'" gravatar-size="100")
        h1
          |Send a message
        form.pure-form.pure-form-stacked(name="challenge.form", novalidate="")
          fieldset
            ng-form(name="challenge.form")
              a(class="pure-button" ng-file-select ng-model="challenge.file")
                |Select File
              label(for="message", ng-show="challenge.form.message.$valid || challenge.form.message.$pristine")
                | message:
              label.error(for="message", ng-show="challenge.form.message.$invalid && challenge.form.message.$dirty")
                | message is required:
              input(name="message", data-ng-model="challenge.message", required="")
        a.pure-button.pure-button-primary(data-ng-click="challenge.sendMessage()")
          |Send Message
        h1
          |Tell everybody you had completed the challenge
        div
          form.pure-form.pure-form-stacked(name="challenge.completed", novalidate="")
            fieldset
             ng-form(name="challenge.completed")
                a(class="pure-button" ng-file-select ng-model="challenge.proof")
                  |Select File
                label(for="message", ng-show="challenge.completed.message.$valid || challenge.completed.message.$pristine")
                  | message:
                label.error(for="message", ng-show="challenge.completed.message.$invalid && challenge.completed.message.$dirty")
                  | message is required:
                input(name="message", data-ng-model="challenge.completedMessage", required="")
          a.pure-button.pure-button-primary(data-ng-click="challenge.finishIt()")
            |Completed