
<h1>Show</h1>{{challenge.info}}
<h1>Have Accepted</h1>{{challenge.haveAccepted}}
<h1>Have not Accepted</h1>{{challenge.haveNotAccepted}}
<h1>Messages</h1>{{challenge.messages}}
<form name="challenge.form" novalidate="" class="pure-form pure-form-stacked">
  <fieldset>
    <ng-form name="challenge.form">
      <label for="message" ng-show="challenge.form.message.$valid || challenge.form.message.$pristine">message:</label>
      <label for="message" ng-show="challenge.form.message.$invalid &amp;&amp; challenge.form.message.$dirty" class="error">message is required:</label>
      <input name="message" data-ng-model="challenge.message" required=""/>
    </ng-form>
  </fieldset>
</form><a data-ng-click="challenge.sendMessage()" class="pure-button pure-button-primary">Send Message</a>