
<div class="canvas">
  <div class="inner-space-2">
    <h1>This is your challenge!</h1>
    <div class="box-content">
      <div class="inner-space">
        <div class="challenge-image"><img data-ng-src="{{challenge.info.image.url}}"/></div>
        <h1 class="align-center accent">{{challenge.info.name}}</h1>
        <h1>People in this challenge: {{challenge.users.length}}</h1>
        <div class="pure-g">
          <div data-ng-repeat="user in challenge.users" class="user-card pure-u-1 pure-u-sm-1-4">
            <div class="padding-left-1">
              <div class="user-image align-center"><img gravatar-src="'{{user.email}}'" gravatar-size="100"/></div>
              <h3>{{user.email}}</h3>
            </div>
          </div>
        </div>
        <h1>Has Accepted {{challenge.hasAccepted.length}}</h1>
        <div class="pure-g">
          <div data-ng-repeat="user in challenge.hasAccepted" class="user-card pure-u-1 pure-u-sm-1-4">
            <div class="padding-left-1">
              <div class="user-image align-center"><img gravatar-src="'{{user.email}}'" gravatar-size="100"/></div>
              <h3>{{user.email}}</h3>
            </div>
          </div>
        </div>
        <h1>Has not Accepted  {{challenge.hasNotAccepted.length}}</h1>
        <div class="pure-g">
          <div data-ng-repeat="user in challenge.hasNotAccepted" class="user-card pure-u-1 pure-u-sm-1-4">
            <div class="padding-left-1">
              <div class="user-image align-center"><img gravatar-src="'{{user.email}}'" gravatar-size="100"/></div>
              <h3>{{user.email}}</h3>
            </div>
          </div>
        </div>
        <h1>Has Completed  {{challenge.hasCompleted.length}}</h1>
        <div class="pure-g">
          <div data-ng-repeat="user in challenge.hasCompleted" class="user-card pure-u-1 pure-u-sm-1-4">
            <div class="padding-left-1">
              <div class="user-image align-center"><img gravatar-src="'{{user.email}}'" gravatar-size="100"/></div>
              <h3>{{user.email}}</h3>
            </div>
          </div>
        </div>
        <h1>Messages {{challenge.messages.length}}</h1>
        <div data-ng-repeat="message in challenge.messages" class="message-box">
          <div data-ng-if="message.user.objectId == shell.user.objectId" class="message-left">
            <div class="pure-g">
              <div class="pure-u-1 pure-u-sm-1-2">
                <div class="message-text pure-u-1-3 message-text-left">{{message.message}}
                  <div class="message-image">
                    <video data-ng-src="{{message.file.url}}" controls="controls" data-ng-if="message.fileType=='video/quicktime'"></video><img data-ng-src="{{message.file.url}}" data-ng-if="message.fileType !='video/quicktime'"/>
                  </div>
                  <div class="message-avatar margin-right-1 message-avatar-left"><img gravatar-src="'{{message.user.username}}'" gravatar-size="100"/></div>
                </div>
              </div>
            </div>
          </div>
          <div data-ng-if="message.user.objectId != shell.user.objectId" class="message-right">
            <div class="pure-g">
              <div class="pure-u-1 pure-u-sm-1-2"> </div>
              <div class="pure-u-1 pure-u-sm-1-2">
                <div class="message-text message-text-right">{{message.message}}
                  <div class="message-avatar message-avatar-right"><img gravatar-src="'{{message.user.username}}'" gravatar-size="100"/></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h1>Send a message</h1>
        <form name="challenge.form" novalidate="" class="pure-form pure-form-stacked">
          <fieldset>
            <ng-form name="challenge.form"><a ng-file-select="ng-file-select" ng-model="challenge.file" class="pure-button">Select File</a>
              <label for="message" ng-show="challenge.form.message.$valid || challenge.form.message.$pristine">message:</label>
              <label for="message" ng-show="challenge.form.message.$invalid &amp;&amp; challenge.form.message.$dirty" class="error">message is required:</label>
              <input name="message" data-ng-model="challenge.message" required=""/>
            </ng-form>
          </fieldset>
        </form><a data-ng-click="challenge.sendMessage()" class="pure-button pure-button-primary">Send Message</a>
        <h1>Tell everybody you had completed the challenge</h1>
        <div>
          <form name="challenge.completed" novalidate="" class="pure-form pure-form-stacked">
            <fieldset>
              <ng-form name="challenge.completed"><a ng-file-select="ng-file-select" ng-model="challenge.proof" class="pure-button">Select File</a>
                <label for="message" ng-show="challenge.completed.message.$valid || challenge.completed.message.$pristine">message:</label>
                <label for="message" ng-show="challenge.completed.message.$invalid &amp;&amp; challenge.completed.message.$dirty" class="error">message is required:</label>
                <input name="message" data-ng-model="challenge.completedMessage" required=""/>
              </ng-form>
            </fieldset>
          </form><a data-ng-click="challenge.finishIt()" class="pure-button pure-button-primary">Completed</a>
        </div>
      </div>
    </div>
  </div>
</div>