.canvas
  .inner-space-2
    h1
      |Challenge by email
    .box-content
      .inner-space
        .pure-g
          .pure-u-1.pure-u-sm-1-3
            form.pure-form.pure-form-stacked(name="form", novalidate="")
              fieldset
                ng-form(name="form")
                  label(for="email", ng-show="form.email.$valid || form.email.$pristine")
                    | Email:
                  label.error(for="email", ng-show="form.email.$invalid && form.email.$dirty")
                    | Email is required:
                  .form-icon
                    input.pure-input-1(name="email", data-ng-model="dare.email", required="")
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="form.email.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="form.email.$valid && form.email.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="form.email.$invalid && form.email.$dirty")

                a.pure-button.pure-button-primary.margin-top-1(data-ng-click="dare.send()")
                  | Challenge
