
<div class="box">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-2">
      <div class="inner-space">
        <div class="align-center"><span class="title">Login</span></div>
        <form name="loginForm" novalidate="" class="pure-form pure-form-stacked">
          <fieldset>
            <label for="username" ng-show="loginForm.username.$valid || loginForm.username.$pristine">Email:</label>
            <label for="username" ng-show="loginForm.username.$invalid &amp;&amp; loginForm.username.$dirty" class="error">Invalid Email:</label>
            <input id="username" name="username" type="email" data-ng-model="user.info.username" required="" class="pure-input-1"/>
            <label for="password" ng-show="loginForm.password.$valid || loginForm.password.$pristine">Password:</label>
            <label for="password" ng-show="loginForm.password.$invalid &amp;&amp; loginForm.password.$dirty" class="error">Password:</label>
            <input id="password" name="password" type="password" data-ng-model="user.info.password" required="" class="pure-input-1"/>
          </fieldset>
          <div class="align-center"><a ng-click="user.login()" class="pure-button pure-button-primary">Login</a></div>
        </form>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2">
      <div class="inner-space border-left">
        <div class="align-center"><span class="title">Register</span></div>
        <form name="registerForm" novalidate="" class="pure-form pure-form-stacked">
          <fieldset>
            <label for="username" ng-show="registerForm.username.$valid || registerForm.username.$pristine">Email:</label>
            <label for="username" ng-show="registerForm.username.$invalid &amp;&amp; registerForm.username.$dirty" class="error">Invalid Email:</label>
            <div class="form-icon">
              <input id="username" name="username" type="email" data-ng-model="user.new.username" required="" class="pure-input-1"/>
            </div>
            <label for="password" ng-show="((registerForm.password.$valid || registerForm.password.$pristine) || (!registerForm.password.$error.required  &amp;&amp; registerForm.password.$error.match &amp;&amp; registerForm.confirmPassword.$pristine)) &amp;&amp; !(registerForm.confirmPassword.$dirty &amp;&amp; registerForm.password.$error.required)">Password</label>
            <label for="password" ng-show="registerForm.password.$error.required &amp;&amp; (registerForm.password.$dirty || registerForm.confirmPassword.$dirty)" class="error">Password required:</label>
            <label for="password" ng-show="registerForm.confirmPassword.$dirty &amp;&amp; !registerForm.password.$error.required &amp;&amp; registerForm.password.$error.match &amp;&amp; registerForm.password.$dirty" class="error">Password does not match:</label>
            <div class="form-icon">
              <input id="password" name="password" type="password" data-ng-model="user.new.password" required="" password-match="passwordMatch" class="pure-input-1"/>
            </div>
            <label for="confirmPassword" ng-show="registerForm.confirmPassword.$valid || registerForm.confirmPassword.$pristine">Confirm Password:</label>
            <label for="confirmPassword" ng-show="registerForm.confirmPassword.$error.required &amp;&amp; registerForm.confirmPassword.$dirty" class="error">Password required:</label>
            <div class="form-icon">
              <input id="confirmPassword" name="confirmPassword" type="password" data-ng-model="passwordMatch" required="" class="pure-input-1"/>
            </div>
          </fieldset>
        </form>
        <div class="align-center"><a ng-click="user.register()" class="pure-button pure-button-primary">Register</a></div>
      </div>
    </div>
  </div>
</div>